/** Fonts */
/** Components */
ol,
ul,
dl,
li,
p {
  margin: 0;
  padding: 0;
}
body #header h1,
body.toc-left #header h1,
body.toc-right #header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ba3925;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.0125em;
}
body .sidebarblock > .content > .title,
body .subheader,
body .admonitionblock td.content > .title,
body .exampleblock > .title,
body .openblock > .title,
body .quoteblock > .title,
body .verseblock > .title,
body .olist .title,
body .ulist .title,
body .dlist .title,
body .hdlist .title,
body .paragraph > .title,
body details > .title,
body .audioblock > .title,
body .imageblock > .title,
body .literalblock > .title,
body .listingblock > .title,
body .stemblock > .title,
body .videoblock > .title,
body table.tableblock > .title {
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: #ba3925;
  margin-top: 0;
  margin-bottom: 0.25em;
  line-height: 1.45em;
}
body .sidebarblock > .content > .title,
body .subheader,
body .admonitionblock td.content > .title,
body .exampleblock > .title,
body .openblock > .title,
body .quoteblock > .title,
body .verseblock > .title,
body .olist .title,
body .ulist .title,
body .dlist .title,
body .hdlist .title,
body .paragraph > .title,
body details > .title,
body .audioblock > .title,
body .imageblock > .title,
body .literalblock > .title,
body .listingblock > .title,
body .stemblock > .title,
body .videoblock > .title,
body table.tableblock > .title {
  font-family: "Noto Serif", serif;
  color: #7a2518;
  font-style: italic;
  font-size: 2.3125em;
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
}
body details,
body .audioblock,
body .imageblock,
body .literalblock,
body .listingblock,
body .stemblock,
body .videoblock,
body table.tableblock {
  margin-bottom: 1.25em;
}
body #footnotes,
body.toc-left #footnotes,
body.toc-right #footnotes,
body #header,
body.toc-left #header,
body.toc-right #header,
body #content,
body.toc-left #content,
body.toc-right #content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}
@media (min-width: 768px) {
  body #footnotes,
  body.toc-left #footnotes,
  body.toc-right #footnotes,
  body #header,
  body.toc-left #header,
  body.toc-right #header,
  body #content,
  body.toc-left #content,
  body.toc-right #content {
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
  }
}
body #footnotes,
body.toc-left #footnotes,
body.toc-right #footnotes,
body #header,
body.toc-left #header,
body.toc-right #header,
body #content,
body.toc-left #content,
body.toc-right #content {
  font-family: "Noto Serif", serif;
  *zoom: 1;
  position: relative;
}
body #footnotes:after,
body.toc-left #footnotes:after,
body.toc-right #footnotes:after,
body #header:after,
body.toc-left #header:after,
body.toc-right #header:after,
body #content:after,
body.toc-left #content:after,
body.toc-right #content:after {
  clear: both;
}
body #footnotes:before,
body.toc-left #footnotes:before,
body.toc-right #footnotes:before,
body #header:before,
body.toc-left #header:before,
body.toc-right #header:before,
body #content:before,
body.toc-left #content:before,
body.toc-right #content:before,
body #footnotes:after,
body.toc-left #footnotes:after,
body.toc-right #footnotes:after,
body #header:after,
body.toc-left #header:after,
body.toc-right #header:after,
body #content:after,
body.toc-left #content:after,
body.toc-right #content:after {
  content: " ";
  display: table;
}
body #footnotes .stretch,
body #header .stretch,
body #content .stretch {
  width: 100%;
}
body #content,
body.toc-left #content,
body.toc-right #content {
  color: #333333;
  font-size: 1em;
  line-height: 1.6;
  margin-top: 1.25em;
}
body #content .imageblock img,
body #content .image > img {
  height: auto;
  max-width: 100%;
}
body #content:before,
body.toc-left #content:before,
body.toc-right #content:before {
  content: none;
}
body #header,
body.toc-left #header,
body.toc-right #header {
  /**
  > h1:first-child + #toc {
    margin-top: 8px;
    border-top: 1px solid #ddddd8;
  }

  > h1:only-child {
    border-bottom: 1px solid #ddddd8;
    padding-bottom: 8px;
  }
  */
}
body #header > h1:first-child {
  color: rgba(0, 0, 0, 0.85);
  margin-top: 2.25rem;
  margin-bottom: 0;
}
body #header h1,
body.toc-left #header h1,
body.toc-right #header h1 {
  font-size: 2em;
}
body #header > h1:first-child {
  color: black;
  font-weight: 300;
  font-size: 2.75em;
  margin-top: 2.25rem;
  margin-bottom: 0;
}
body #header > h1:first-child + #toc {
  margin-top: 8px;
  border-top: 1px solid #dddddf;
}
body #header .details {
  border-bottom: 1px solid #ddddd8;
  line-height: 1.45;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-flow: row wrap;
}
body #header .details span.email a {
  color: rgba(0, 0, 0, 0.85);
}
body #header .details br {
  display: none;
}
body #header .details br + span:before {
  content: " – ";
}
body #header .details br + span.author:before {
  content: " ⋅ ";
}
body #header .details br + span#revremark:before {
  content: " | ";
}
body #header .details span#revnumber {
  text-transform: capitalize;
}
body #header .details #revnumber:after {
  content: " ";
}
body {
  color: black;
  margin: 0;
}
body a {
  color: #2156a5;
  text-decoration: none;
}
body a:hover {
  color: #1d4b8f;
  text-decoration: underline;
}
body code,
body kbd,
body pre {
  font-family: "Courier New", Courier, monospac e;
}
body b,
body strong {
  font-weight: 600;
}
body em,
body i {
  font-style: italic;
  line-height: inherit;
}
body em em,
body em i,
body i em,
body i i {
  font-style: normal;
}
body strong,
body b {
  font-weight: 600;
  line-height: inherit;
}
body strong strong {
  font-weight: normal;
}
body small {
  font-size: 60%;
  line-height: inherit;
}
body button {
  cursor: pointer;
  font-family: inherit;
  line-height: 1.6;
  font-size: 1em;
  margin: 0;
}
body #header h1,
body.toc-left #header h1,
body.toc-right #header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ba3925;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.0125em;
}
body .sidebarblock > .content > .title,
body .subheader,
body .admonitionblock td.content > .title,
body .exampleblock > .title,
body .openblock > .title,
body .quoteblock > .title,
body .verseblock > .title,
body .olist .title,
body .ulist .title,
body .dlist .title,
body .hdlist .title,
body .paragraph > .title,
body details > .title,
body .audioblock > .title,
body .imageblock > .title,
body .literalblock > .title,
body .listingblock > .title,
body .stemblock > .title,
body .videoblock > .title,
body table.tableblock > .title {
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: #ba3925;
  margin-top: 0;
  margin-bottom: 0.25em;
  line-height: 1.45em;
}
body .sidebarblock > .content > .title,
body .subheader,
body .admonitionblock td.content > .title,
body .exampleblock > .title,
body .openblock > .title,
body .quoteblock > .title,
body .verseblock > .title,
body .olist .title,
body .ulist .title,
body .dlist .title,
body .hdlist .title,
body .paragraph > .title,
body details > .title,
body .audioblock > .title,
body .imageblock > .title,
body .literalblock > .title,
body .listingblock > .title,
body .stemblock > .title,
body .videoblock > .title,
body table.tableblock > .title {
  font-family: "Noto Serif", serif;
  color: #7a2518;
  font-style: italic;
  font-size: 2.3125em;
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
}
body details,
body .audioblock,
body .imageblock,
body .literalblock,
body .listingblock,
body .stemblock,
body .videoblock,
body table.tableblock {
  margin-bottom: 1.25em;
}
body #content,
body.toc-left #content,
body.toc-right #content,
body #header,
body.toc-left #header,
body.toc-right #header,
body #footnotes,
body.toc-left #footnotes,
body.toc-right #footnotes {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}
@media (min-width: 768px) {
  body #content,
  body.toc-left #content,
  body.toc-right #content,
  body #header,
  body.toc-left #header,
  body.toc-right #header,
  body #footnotes,
  body.toc-left #footnotes,
  body.toc-right #footnotes {
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
  }
}
body #content,
body.toc-left #content,
body.toc-right #content,
body #header,
body.toc-left #header,
body.toc-right #header,
body #footnotes,
body.toc-left #footnotes,
body.toc-right #footnotes {
  font-family: "Noto Serif", serif;
  *zoom: 1;
  position: relative;
}
body #content:after,
body.toc-left #content:after,
body.toc-right #content:after,
body #header:after,
body.toc-left #header:after,
body.toc-right #header:after,
body #footnotes:after,
body.toc-left #footnotes:after,
body.toc-right #footnotes:after {
  clear: both;
}
body #content:before,
body.toc-left #content:before,
body.toc-right #content:before,
body #header:before,
body.toc-left #header:before,
body.toc-right #header:before,
body #footnotes:before,
body.toc-left #footnotes:before,
body.toc-right #footnotes:before,
body #content:after,
body.toc-left #content:after,
body.toc-right #content:after,
body #header:after,
body.toc-left #header:after,
body.toc-right #header:after,
body #footnotes:after,
body.toc-left #footnotes:after,
body.toc-right #footnotes:after {
  content: " ";
  display: table;
}
body #content .stretch,
body #header .stretch,
body #footnotes .stretch {
  width: 100%;
}
body #content,
body.toc-left #content,
body.toc-right #content {
  color: #333333;
  font-size: 1em;
  line-height: 1.6;
  margin-top: 1.25em;
}
body #content .imageblock img,
body #content .image > img {
  height: auto;
  max-width: 100%;
}
body #content:before,
body.toc-left #content:before,
body.toc-right #content:before {
  content: none;
}
body #header,
body.toc-left #header,
body.toc-right #header {
  /**
  > h1:first-child + #toc {
    margin-top: 8px;
    border-top: 1px solid #ddddd8;
  }

  > h1:only-child {
    border-bottom: 1px solid #ddddd8;
    padding-bottom: 8px;
  }
  */
}
body #header > h1:first-child {
  color: rgba(0, 0, 0, 0.85);
  margin-top: 2.25rem;
  margin-bottom: 0;
}
body #header h1,
body.toc-left #header h1,
body.toc-right #header h1 {
  font-size: 2em;
}
body #header > h1:first-child {
  color: black;
  font-weight: 300;
  font-size: 2.75em;
  margin-top: 2.25rem;
  margin-bottom: 0;
}
body #header > h1:first-child + #toc {
  margin-top: 8px;
  border-top: 1px solid #dddddf;
}
body #header .details {
  border-bottom: 1px solid #ddddd8;
  line-height: 1.45;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-flow: row wrap;
}
body #header .details span.email a {
  color: rgba(0, 0, 0, 0.85);
}
body #header .details br {
  display: none;
}
body #header .details br + span:before {
  content: " – ";
}
body #header .details br + span.author:before {
  content: " ⋅ ";
}
body #header .details br + span#revremark:before {
  content: " | ";
}
body #header .details span#revnumber {
  text-transform: capitalize;
}
body #header .details #revnumber:after {
  content: " ";
}
body p {
  font-family: inherit;
  font-size: 1.065rem;
  line-height: 1.6;
  margin-bottom: 0.25em;
  letter-spacing: -0.01em;
}
@media print {
  body p {
    margin-bottom: 0.5em;
  }
}
body p.lead,
body .paragraph.lead {
  font-size: 1.21875em;
}
body .paragraph {
  margin-bottom: 0.25em;
}
body .paragraph :last-child {
  margin-bottom: 0;
}
body ul,
body ol {
  margin-left: 1.5em;
}
body ul,
body ol,
body dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit;
}
body ul li ul,
body ul li ol,
body ol li ul,
body ol li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
  font-size: 1em;
}
body .olist > ol > li:last-child > :last-child,
body .ulist > ul > li:last-child > :last-child,
body .qlist > ol > li:last-child > :last-child {
  margin-bottom: 0;
}
body .ol {
  margin-left: 1.5rememcalc (4px);
}
body ul li ol {
  margin-left: 1.5rem;
}
body dl dt {
  font-weight: 600;
  margin-bottom: 0.3125em;
}
body dl dd {
  margin-left: 1.25em;
}
body dl dd:last-child,
body dl dd:last-child > :last-child {
  margin-bottom: 0;
}
body ol > li p,
body ul > li p,
body ul dd,
body ol dd,
body .olist .olist,
body .ulist .ulist,
body .ulist .olist,
body .olist .ulist {
  margin-bottom: 0.125em;
}
body ul.checklist,
body ul.none,
body ol.none,
body ul.no-bullet,
body ol.no-bullet,
body ol.unnumbered,
body ul.unstyled,
body ol.unstyled {
  list-style-type: none;
}
body ul.no-bullet,
body ol.no-bullet,
body ol.unnumbered {
  margin-left: 0.625em;
}
body ul.unstyled,
body ol.unstyled {
  margin-left: 0;
}
body ul.checklist {
  margin-left: emCalc(10px);
}
body ul.checklist li > p:first-child > .fa-square-o:first-child,
body ul.checklist li > p:first-child > .fa-check-square-o:first-child {
  width: 1.25em;
  font-size: 0.8em;
  position: relative;
  bottom: 0.125em;
}
body ul.checklist li > p:first-child > input[type="checkbox"]:first-child {
  margin-right: 0.25em;
}
body ul.inline {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 0 0 0;
}
body ul.inline > li {
  margin-left: 0;
}
body .unstyled dl dt {
  font-weight: normal;
  font-style: normal;
}
body ol.arabic {
  list-style-type: decimal;
}
body ol.decimal {
  list-style-type: decimal-leading-zero;
}
body ol.loweralpha {
  list-style-type: lower-alpha;
}
body ol.upperalpha {
  list-style-type: upper-alpha;
}
body ol.lowerroman {
  list-style-type: lower-roman;
}
body ol.upperroman {
  list-style-type: upper-roman;
}
body ol.lowergreek {
  list-style-type: lower-greek;
}
.hdlist > table,
.colist > table {
  border: 0;
  background: none;
}
.hdlist > table > tbody > tr,
.colist > table > tbody > tr {
  background: none;
}
td.hdlist1,
td.hdlist2 {
  vertical-align: top;
  padding: 0 0.625rem;
}
td.hdlist1 {
  font-weight: bold;
  padding-bottom: 0.25em;
}
body #header h1,
body.toc-left #header h1,
body.toc-right #header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ba3925;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.0125em;
}
body .sidebarblock > .content > .title,
body .subheader,
body .admonitionblock td.content > .title,
body .exampleblock > .title,
body .openblock > .title,
body .quoteblock > .title,
body .verseblock > .title,
body details > .title,
body .audioblock > .title,
body .imageblock > .title,
body .literalblock > .title,
body .listingblock > .title,
body .stemblock > .title,
body .videoblock > .title,
body table.tableblock > .title,
body .paragraph > .title,
body .olist .title,
body .ulist .title,
body .dlist .title,
body .hdlist .title {
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: #ba3925;
  margin-top: 0;
  margin-bottom: 0.25em;
  line-height: 1.45em;
}
body .sidebarblock > .content > .title,
body .subheader,
body .admonitionblock td.content > .title,
body .exampleblock > .title,
body .openblock > .title,
body .quoteblock > .title,
body .verseblock > .title,
body details > .title,
body .audioblock > .title,
body .imageblock > .title,
body .literalblock > .title,
body .listingblock > .title,
body .stemblock > .title,
body .videoblock > .title,
body table.tableblock > .title,
body .paragraph > .title,
body .olist .title,
body .ulist .title,
body .dlist .title,
body .hdlist .title {
  font-family: "Noto Serif", serif;
  color: #7a2518;
  font-style: italic;
  font-size: 2.3125em;
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
}
body details,
body .audioblock,
body .imageblock,
body .literalblock,
body .listingblock,
body .stemblock,
body .videoblock,
body table.tableblock {
  margin-bottom: 1.25em;
}
body #content,
body.toc-left #content,
body.toc-right #content,
body #header,
body.toc-left #header,
body.toc-right #header,
body #footnotes,
body.toc-left #footnotes,
body.toc-right #footnotes {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}
@media (min-width: 768px) {
  body #content,
  body.toc-left #content,
  body.toc-right #content,
  body #header,
  body.toc-left #header,
  body.toc-right #header,
  body #footnotes,
  body.toc-left #footnotes,
  body.toc-right #footnotes {
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
  }
}
body #content,
body.toc-left #content,
body.toc-right #content,
body #header,
body.toc-left #header,
body.toc-right #header,
body #footnotes,
body.toc-left #footnotes,
body.toc-right #footnotes {
  font-family: "Noto Serif", serif;
  *zoom: 1;
  position: relative;
}
body #content:after,
body.toc-left #content:after,
body.toc-right #content:after,
body #header:after,
body.toc-left #header:after,
body.toc-right #header:after,
body #footnotes:after,
body.toc-left #footnotes:after,
body.toc-right #footnotes:after {
  clear: both;
}
body #content:before,
body.toc-left #content:before,
body.toc-right #content:before,
body #header:before,
body.toc-left #header:before,
body.toc-right #header:before,
body #footnotes:before,
body.toc-left #footnotes:before,
body.toc-right #footnotes:before,
body #content:after,
body.toc-left #content:after,
body.toc-right #content:after,
body #header:after,
body.toc-left #header:after,
body.toc-right #header:after,
body #footnotes:after,
body.toc-left #footnotes:after,
body.toc-right #footnotes:after {
  content: " ";
  display: table;
}
body #content .stretch,
body #header .stretch,
body #footnotes .stretch {
  width: 100%;
}
body #content,
body.toc-left #content,
body.toc-right #content {
  color: #333333;
  font-size: 1em;
  line-height: 1.6;
  margin-top: 1.25em;
}
body #content .imageblock img,
body #content .image > img {
  height: auto;
  max-width: 100%;
}
body #content:before,
body.toc-left #content:before,
body.toc-right #content:before {
  content: none;
}
body #header,
body.toc-left #header,
body.toc-right #header {
  /**
  > h1:first-child + #toc {
    margin-top: 8px;
    border-top: 1px solid #ddddd8;
  }

  > h1:only-child {
    border-bottom: 1px solid #ddddd8;
    padding-bottom: 8px;
  }
  */
}
body #header > h1:first-child {
  color: rgba(0, 0, 0, 0.85);
  margin-top: 2.25rem;
  margin-bottom: 0;
}
body #header h1,
body.toc-left #header h1,
body.toc-right #header h1 {
  font-size: 2em;
}
body #header > h1:first-child {
  color: black;
  font-weight: 300;
  font-size: 2.75em;
  margin-top: 2.25rem;
  margin-bottom: 0;
}
body #header > h1:first-child + #toc {
  margin-top: 8px;
  border-top: 1px solid #dddddf;
}
body #header .details {
  border-bottom: 1px solid #ddddd8;
  line-height: 1.45;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-flow: row wrap;
}
body #header .details span.email a {
  color: rgba(0, 0, 0, 0.85);
}
body #header .details br {
  display: none;
}
body #header .details br + span:before {
  content: " – ";
}
body #header .details br + span.author:before {
  content: " ⋅ ";
}
body #header .details br + span#revremark:before {
  content: " | ";
}
body #header .details span#revnumber {
  text-transform: capitalize;
}
body #header .details #revnumber:after {
  content: " ";
}
body table {
  display: table;
  margin-bottom: 1.25em;
  border-spacing: 0;
}
body table tr {
  display: table-row;
}
body table tr th,
body table tr td {
  display: table-cell;
  line-height: 1.6;
  padding: 0.5625em 0.625em;
  font-size: inherit;
}
body table thead {
  background: #f7f8f7;
}
body table thead tr td,
body table thead tr th {
  padding: 0.5em 0.625em 0.625em;
  font-size: inherit;
}
body table.tableblock {
  max-width: 100%;
  border-collapse: separate;
}
body table.tableblock .fit-content > caption.title {
  white-space: nowrap;
  width: 0;
}
body p.tableblock:last-child {
  margin-bottom: 0;
}
body td.tableblock > .content {
  margin-bottom: 0.25em;
}
body td.tableblock > .content > :last-child {
  margin-bottom: -0.25em;
}
body table.tableblock,
body th.tableblock,
body td.tableblock {
  border: 0 solid #dedede;
}
body table.grid-all > thead > tr > .tableblock,
body table.grid-all > tbody > tr > .tableblock {
  border-width: 0 1px 1px 0;
}
body table.grid-all > tfoot > tr > .tableblock {
  border-width: 1px 1px 0 0;
}
body table.grid-cols > * > tr > .tableblock {
  border-width: 0 1px 0 0;
}
body table.grid-rows > thead > tr > .tableblock,
body table.grid-rows > tbody > tr > .tableblock {
  border-width: 0 0 1px 0;
}
body table.grid-rows > tfoot > tr > .tableblock {
  border-width: 1px 0 0 0;
}
body table.grid-all > * > tr > .tableblock:last-child,
body table.grid-cols > * > tr > .tableblock:last-child {
  border-right-width: 0;
}
body table.grid-all > tbody > tr:last-child > .tableblock,
body table.grid-all > thead:last-child > tr > .tableblock,
body table.grid-rows > tbody > tr:last-child > .tableblock,
body table.grid-rows > thead:last-child > tr > .tableblock {
  border-bottom-width: 0;
}
body table.frame-all {
  border-width: 1px;
}
body table.frame-sides {
  border-width: 0 1px;
}
body table.frame-topbot,
body table.frame-ends {
  border-width: 1px 0;
}
body table.stripes-all tr,
body table.stripes-odd tr:nth-of-type(odd),
body table.stripes-even tr:nth-of-type(even),
body table.stripes-hover tr:hover {
  background: #f8f8f7;
}
body th.halign-left,
body td.halign-left {
  text-align: left;
}
body th.halign-right,
body td.halign-right {
  text-align: right;
}
body th.halign-center,
body td.halign-center {
  text-align: center;
}
body th.valign-top,
body td.valign-top {
  vertical-align: top;
}
body th.valign-bottom,
body td.valign-bottom {
  vertical-align: bottom;
}
body th.valign-middle,
body td.valign-middle {
  vertical-align: middle;
}
body table thead th,
body table tfoot th {
  font-weight: bold;
}
body tbody tr th {
  display: block;
  line-height: 1.6;
  background: #f7f8f7;
}
body tbody tr th,
body tbody tr th p,
body tfoot tr th,
body tfoot tr th p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
body p.tableblock > code:only-child {
  background: none;
  padding: 0;
}
body p.tableblock {
  font-size: 1em;
}
.sect1 h2,
.sect2 h3,
.sect3 h4,
.sect4 h5,
.sect5 h6,
h6,
h5,
h4,
body #toc #toctitle,
h3,
h2 {
  font-family: "Open Sans", sans-serif;
  color: #ba3925;
  font-weight: 300;
  line-height: 1.2;
  word-spacing: -0.05em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  -moz-column-break-after: avoid;
  break-after: avoid;
}
h2 {
  font-size: 2.315em;
  letter-spacing: -0.01em;
}
body #toc #toctitle,
h3 {
  font-size: 1.6875em;
}
h4 {
  font-size: 1.4375em;
}
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 1em;
}
.sect1 + .sect1 {
  border-top: 1px solid #e7e7e9;
}
@media (min-width: 768px) {
  .sect1 {
    padding-bottom: 1.25em;
  }
}
body .exampleblock > .content {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  box-shadow: 5px 5px 5px #e6e6e6;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #fffef7;
  color: rgba(0, 0, 0, 0.75);
}
body .exampleblock > .content > :first-child {
  margin-top: 0;
}
body .exampleblock > .content > :last-child {
  margin-bottom: 0;
}
body .listingblock > .content {
  border-style: none;
  border-width: 0;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f3f3f2;
  color: rgba(0, 0, 0, 0.75);
}
body .listingblock > .content > :first-child {
  margin-top: 0;
}
body .listingblock > .content > :last-child {
  margin-bottom: 0;
}
body .exampleblock > .content > :last-child > :last-child,
body .sidebarblock > .content > :last-child > :last-child {
  margin-bottom: 0;
}
body .sidebarblock > .content {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  box-shadow: 5px 5px 5px #e6e6e6;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #eeeeed;
  color: rgba(0, 0, 0, 0.75);
}
body .sidebarblock > .content > :first-child {
  margin-top: 0;
}
body .sidebarblock > .content > :last-child {
  margin-bottom: 0;
}
body .quoteblock .attribution,
body .verseblock .attribution {
  font-size: 0.9375rem;
  line-height: 1.45;
  font-style: italic;
}
body .quoteblock .attribution br,
body .verseblock .attribution br {
  display: none;
}
body .quoteblock .attribution cite,
body .verseblock .attribution cite {
  display: block;
  letter-spacing: -0.025em;
  color: rgba(0, 0, 0, 0.6);
}
body .quoteblock {
  margin: 0 1em 0.25em 1.5em;
  display: table;
}
body .quoteblock:not(.excerpt) > .title {
  margin-left: -1.5em;
  margin-bottom: 0.75em;
}
body .quoteblock .attribution {
  margin-top: 0.75em;
  margin-right: 0.5ex;
  text-align: right;
}
body .quoteblock blockquote,
body .quoteblock p {
  color: black;
  font-size: 1.15rem;
  line-height: 1.75;
  word-spacing: 0.1em;
  letter-spacing: 0;
  font-style: italic;
  text-align: justify;
}
body .quoteblock blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}
body .quoteblock blockquote:before {
  content: "“";
  float: left;
  font-size: 2.75em;
  font-weight: bold;
  line-height: 0.6em;
  margin-left: -0.6em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
body .quoteblock blockquote > .paragraph:last-child p {
  margin-bottom: 0;
}
body .quoteblock blockquote.abstract blockquote:before,
body .quoteblock blockquote.excerpt blockquote:before,
body .quoteblock blockquote .quoteblock blockquote:before {
  display: none;
}
body .quoteblock blockquote.abstract blockquote,
body .quoteblock blockquote.abstract p,
body .quoteblock blockquote.excerpt blockquote,
body .quoteblock blockquote.excerpt p,
body .quoteblock blockquote .quoteblock blockquote,
body .quoteblock blockquote .quoteblock p {
  line-height: 1.6;
  word-spacing: 0;
}
body .quoteblock blockquote.abstract {
  margin: 0 1em 0.25em 1em;
  display: block;
}
body .quoteblock blockquote.abstract > .title {
  margin: 0 0 0.375em 0;
  font-size: 1.15em;
  text-align: center;
}
body .quoteblock.excerpt > blockquote,
body .quoteblock .quoteblock {
  padding: 0 0 0.25em 1em;
  border-left: 0.25em solid #dddddf;
}
body .quoteblock.excerpt,
body .quoteblock .quoteblock {
  margin-left: 0;
}
body .quoteblock.excerpt blockquote,
body .quoteblock.excerpt p,
body .quoteblock .quoteblock blockquote,
body .quoteblock .quoteblock p {
  color: inherit;
  font-size: 1.0625rem;
}
body .quoteblock.excerpt .attribution,
body .quoteblock .quoteblock .attribution {
  color: inherit;
  text-align: left;
  margin-right: 0;
}
body .verseblock {
  margin: 0 1em 0.25em 1em;
}
body .verseblock pre {
  font-family: "Open Sans", "DejaVu Sans", sans;
  font-size: 1.15rem;
  color: black;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
body .verseblock pre strong {
  font-weight: 400;
}
body .verseblock .attribution {
  margin-top: 1.25rem;
  margin-left: 0.5ex;
}
body .admonitionblock > table {
  border-collapse: separate;
  border: 0;
  background: none;
  width: 100%;
}
body .admonitionblock > table td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}
body .admonitionblock > table td.icon .icon-note::before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  content: " ";
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.2em;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23111'%3E%3Cpath d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
body .admonitionblock > table td.icon .icon-tip:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  content: " ";
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.2em;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512' fill='%2319407c'%3E%3Cpath d='M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z'/%3E%3C/svg%3E");
}
body .admonitionblock > table td.icon .icon-warning:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  content: " ";
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.2em;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='%23bf6900'%3E%3Cpath d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
  color: #bf6900;
}
body .admonitionblock > table td.icon .icon-caution:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  content: " ";
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.2em;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23bf3400'%3E%3Cpath d='M408.781 128.007C386.356 127.578 368 146.36 368 168.79V256h-8V79.79c0-22.43-18.356-41.212-40.781-40.783C297.488 39.423 280 57.169 280 79v177h-8V40.79C272 18.36 253.644-.422 231.219.007 209.488.423 192 18.169 192 40v216h-8V80.79c0-22.43-18.356-41.212-40.781-40.783C121.488 40.423 104 58.169 104 80v235.992l-31.648-43.519c-12.993-17.866-38.009-21.817-55.877-8.823-17.865 12.994-21.815 38.01-8.822 55.877l125.601 172.705A48 48 0 0 0 172.073 512h197.59c22.274 0 41.622-15.324 46.724-37.006l26.508-112.66a192.011 192.011 0 0 0 5.104-43.975V168c.001-21.831-17.487-39.577-39.218-39.993z'/%3E%3C/svg%3E");
}
body .admonitionblock > table td.icon .icon-important:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  content: " ";
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.2em;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23bf0000'%3E%3Cpath d='M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
body .admonitionblock > table td.icon {
  text-align: center;
  width: 80px;
}
body .admonitionblock > table td.icon img {
  max-width: none;
}
body .admonitionblock > table td.icon .title {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
body #toc #toctitle {
  color: #7a2518;
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1.2em;
}
body #toc > ul,
body.toc-left #toc > ul,
body.toc-right #toc > ul {
  margin-left: 0.125rem;
}
body #toc ul,
body.toc-left #toc ul,
body.toc-right #toc ul {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
}
body #toc li,
body.toc-left #toc li,
body.toc-right #toc li {
  line-height: 1.3334;
  margin-top: 0.3334em;
}
body #toc a,
body.toc-left #toc a,
body.toc-right #toc a {
  text-decoration: none;
}
body #toc a:active {
  text-decoration: underline;
}
body *,
body.toc-left *,
body.toc-right *,
body *::before,
body.toc-left *::before,
body.toc-right *::before,
body *::after,
body.toc-left *::after,
body.toc-right *::after {
  box-sizing: border-box;
}
body,
body.toc-left,
body.toc-right {
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 768px) {
  body.toc-left,
  body.toc-right {
    padding-left: 15em;
  }
  body.toc-left #toc,
  body.toc-right #toc {
    background: #f3f3f2;
    margin-top: 0 !important;
    margin: 0;
    position: fixed;
    z-index: 1000;
    height: 100%;
    overflow: auto;
    padding: 1.25em 1em;
    left: 0;
    top: 0;
    width: 15em;
  }
  body.toc-left #toc toctitle-selector,
  body.toc-right #toc toctitle-selector {
    font-size: 1.375em;
  }
  body.toc-left #toc > ul,
  body.toc-right #toc > ul {
    font-size: 0.9em;
    margin-bottom: 0;
  }
  body.toc-left #toc ul ul,
  body.toc-right #toc ul ul {
    margin: 0;
    padding-left: 1em;
  }
}
@media (min-width: 1280px) {
  body.toc-left,
  body.toc-right {
    padding-left: 20em;
  }
  body.toc-left #toc,
  body.toc-right #toc {
    width: 20em;
  }
  body.toc-left #toc > ul,
  body.toc-right #toc > ul {
    font-size: 0.95em;
  }
  body.toc-left #toc ul ul,
  body.toc-right #toc ul ul {
    padding-left: 1.25em;
  }
}
@media (min-width: 768px) {
  body.toc-right {
    padding-left: 0;
    padding-right: 15em;
  }
  body.toc-right #toc {
    left: auto;
    right: 0;
  }
}
@media (min-width: 1280px) {
  body.toc-right {
    padding-right: 20em;
  }
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
