%size-classes {
  .size-xs {
    font-size: smaller;
  }
  .size-s {
    font-size: small;
  }
  .size-m {
    font-size: medium;
  }
  .size-l {
    font-size: large;
  }
  .size-xl {
    font-size: larger;
  }
}
