@import '../util/breakpoints';

%heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  font-style: normal;
  color: $color-heading;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.0125em;
}

%subheading {
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: $color-heading;
  margin-top: 0;
  margin-bottom: 0.25em;
  line-height: 1.45em;
}

%blocktitle {
  @extend %subheading;
  font-family: $blocktitle-font-family;
  color: $color-blocktitle;
  font-style: $blocktitle-font-style;
  font-size: $blocktitle-font-size;

  font-weight: $blocktitle-font-weight;
  text-align: left;
  font-size: 1rem;

  outline-style: none;
}

%block {
  margin-bottom: $block-margin-bottom;

  > .title {
    @extend %blocktitle;
  }
}
