@import '../util/calc.scss';

// Fonts
$ansi-safety-word-font: 'Open Sans', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-small: 70% !default;

// Standard colors
$color-white: white !default;
$color-light-black: lighten(black, 10%) !default;
$color-smoke: #f5f5f5 !default;
$color-light-gray: #e3e3e3 !default;
$color-medium-gray: #dddddd !default;
$color-dark-gray: #9a9a9a !default;
$color-darkest-gray: #676767 !default;

// Social colors
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-google: #dd4b39;
$color-linkedin: #0077b5;
$color-pinterest: #cc2127;
$color-github: #333333;
$color-youtube: #e52d27;
$color-instagram: #125688;

// Ansi colors
$color-ansi-red: #c8102e;
$color-ansi-orange: #ff8200;
$color-ansi-yellow: #ffd100;
$color-ansi-green: #007b5f;
$color-ansi-blue: #0072ce;
$color-ansi-purple: #6d2077;

// Pantone Colors
$pantone-classic-blue: #0f4c81;
$pantone-monument: #84898c;
$pantone-monument-dark: darken($pantone-monument, 20%);
$pantone-provence: #658dc6;
$pantone-baby-blue: #b5c7d3;
$pantone-peach-quartz: #f5b895;
$pantone-cornhusk: #f3d5ad;
$pantone-stucco: #a58d7f;

// Color-settings
$color-heading: var(--color-heading, $pantone-classic-blue); // was  #ba3925
$color-link: var(--color-link, $pantone-classic-blue); // was  #ba3925
$color-link-hover: var(--color-link-hover, darken($pantone-classic-blue, 5%));
$color-title: var(--color-title, $pantone-classic-blue);
$color-blocktitle: $pantone-monument-dark; // was #7a2518
$color-default: $color-light-black;
$color-details: var(--color-details, $color-darkest-gray);
$color-blockquote: var(--color-blockquote, $color-light-black);
$color-cite: var(--color-cite, lighten($color-light-black, 50%));

$bg-transparent: transparent !default;

// Sizes
$size-h1: 2.75rem;
$size-h2: 2.315rem;
$size-h3: 1.6875rem;
$size-h4: 1.4375rem;
$size-h5: 1.125rem;
$size-h6: 1rem;

%body-font {
  font-family: $default-font-family;
  font-weight: $font-weight-normal;
  color: $color-default;
}

@mixin title-font {
  font-family: $heading-font-family;
  font-weight: $font-weight-normal;
  font-size: $size-h1;
  color: $color-title;
}

// Panels
$panel-bg: lighten($pantone-baby-blue, 20%); // #f3f3f2;
// $panel-border-color: lighten(black, 85%);
// $panel-font-color: rgba(0, 0, 0, 0.75);

$sidebarblock-bg: lighten($pantone-cornhusk, 15%);
$exampleblock-bg: darken($panel-bg, 2%); // #fffef7;
$codeblock-bg: $panel-bg;

$default-line-height: 1.6 !default;

//$paragraph-margin-bottom: 0.25em;
$paragraph-font-size: 1.065rem;

// Header
$header-font-weight: 400 !default;

// Lead
$lead-font-size: 1.21875em;

// Title of article or book
$title-font-family: $heading-font-family !default;
//$title-font-color: $default-font-color !default;
$title-font-weight: $font-weight-normal !default;
$title-font-size: 2.75em !default;

// Section Headings
$heading-font-weight: 300 !default;

// Block
$block-margin-bottom: 1.25em;

// Block title
$blocktitle-font-family: $title-font-family !default;
$blocktitle-font-weight: bold !default;
$blocktitle-font-style: regular !default;
$blocktitle-font-size: 2.3125em;

// Blockquotes

$blockquote-cite-font-size: calculateRem(15px);

// hr
$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: var(--hr-border-color, lighten($color-default, 80%));
$hr-border-top: $hr-border-width $hr-border-style $hr-border-color; // just calculated, not overridable

// link
//$link-font-color: #2156a5 !default;
//$link-font-color-hover: #1d4b8f !default;

// content
$content-line-height: $default-line-height;
$content-font-size: 1em;

// table
$table-border-size: 1px;
$table-head-font-weight: bold;
$table-display: block;
$table-border-color: #dedede !default;
$table-header-background-color: #f7f8f7 !default;
$table-stripe-background-color: #f7f8f7 !default;
$table-font-color: rgba(0, 0, 0, 0.8) !default;
$table-head-font-size: inherit;
$table-head-font-color: rgba(0, 0, 0, 0.8) !default;
$table-row-font-size: inherit;
$table-line-height: 1.6;
$table-head-bg: #f7f8f7;
$table-even-row-bg: #f8f8f7;

// TOC
$toc-background-color: #f8f8f7 !default;
$toc-border: 1px solid #e7e7e9 !default;
$toc-padding-top: 1.25em !default;
$toc-padding-bottom: 1.25em !default;
$toc-padding-left: 1em !default;
$toc-padding-right: 1em !default;

// Lists

$list-side-margin: calculateRem(24px);
$list-nested-side-margin: 1.25em;
$definition-list-header-margin-bottom: calculateRem(5px);
$definition-list-margin-bottom: calculateRem(20px);
$definition-list-content-margin-left: 1.25em;
$inline-list-bottom-margin: 0;
$inline-list-item-spacing: 0;

// Common selectors
$toc-selector: '#toc';
$toctitle-selector: '#toctitle';
$content-selector: '#content';
