%inline {
  a {
    color: $color-link;
    text-decoration: none;
  }
  a:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
  code,
  kbd,
  pre {
    font-family: $mono-font-family;
  }
  b,
  strong {
    font-weight: $font-weight-bold;
  }

  // Emphasized text
  em,
  i {
    font-style: italic;
    line-height: inherit;
    em,
    i {
      font-style: normal;
    }
  }

  // Strong text
  strong,
  b {
    font-weight: $font-weight-bold;
    line-height: inherit;
  }

  strong strong {
    font-weight: normal;
  }

  // Small text
  small {
    font-size: $font-size-small;
    line-height: inherit;
  }

  button {
    cursor: pointer;
    font-family: inherit;
    line-height: $default-line-height; // inherit?
    font-size: 1em;
    margin: 0;
  }
}
