%paragraph {
  p {
    font-family: inherit;
    font-size: $paragraph-font-size;
    line-height: $default-line-height;
    margin-bottom: $paragraph-margin-bottom;
    @media print {
      margin-bottom: 0.5em;
    }
    letter-spacing: -0.01em;
  }
  p.lead,
  .paragraph.lead {
    font-size: $lead-font-size;
  }

  .paragraph {
    margin-bottom: $paragraph-margin-bottom;
    > .title {
      @extend %blocktitle;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}
