%paragraph {
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .text-justify {
    text-align: justify;
  }

  p {
    margin-bottom: $block-margin-bottom;
    @media print {
      margin-bottom: 0.5em;
    }
    letter-spacing: -0.01em;
  }
  p.lead,
  .paragraph.lead {
    font-size: $lead-font-size;
  }

  .paragraph {
    margin-bottom: $block-margin-bottom;
    > .title {
      @extend %blocktitle;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}
