@import 'common';

%table {
  table {
    display: table;
    margin-bottom: $block-margin-bottom;
    border-spacing: 0;

    tr {
      display: table-row;
      th,
      td {
        display: table-cell;
        line-height: 1.6;
        padding: 0.5625em 0.625em;
        font-size: inherit;
      }
    }
    thead {
      background: $table-header-background-color;
      tr {
        td,
        th {
          padding: 0.5em 0.625em 0.625em;
          font-size: inherit;
        }
      }
    }
  }

  table.tableblock {
    @extend %block;
    max-width: 100%;
    border-collapse: separate;

    // trick to prevent caption from influencing width of an autowidth table
    .fit-content > caption.title {
      white-space: nowrap;
      width: 0;
    }
  }

  p.tableblock:last-child {
    margin-bottom: 0;
  }

  // NOTE compensate for bottom margin on last block in AsciiDoc table cell
  td.tableblock > .content {
    margin-bottom: $block-margin-bottom;
    > :last-child {
      margin-bottom: -$block-margin-bottom;
    }
  }

  // NOTE .grid-* selectors must be defined before .frame-* selectors in order for styles to cascade properly
  table.tableblock,
  th.tableblock,
  td.tableblock {
    border: 0 solid $table-border-color;
  }

  table.grid-all > thead > tr > .tableblock,
  table.grid-all > tbody > tr > .tableblock {
    border-width: 0 $table-border-size $table-border-size 0;
  }

  table.grid-all > tfoot > tr > .tableblock {
    border-width: $table-border-size $table-border-size 0 0;
  }

  table.grid-cols > * > tr > .tableblock {
    border-width: 0 $table-border-size 0 0;
  }

  table.grid-rows > thead > tr > .tableblock,
  table.grid-rows > tbody > tr > .tableblock {
    border-width: 0 0 $table-border-size 0;
  }

  table.grid-rows > tfoot > tr > .tableblock {
    border-width: $table-border-size 0 0 0;
  }

  table.grid-all > * > tr > .tableblock:last-child,
  table.grid-cols > * > tr > .tableblock:last-child {
    border-right-width: 0;
  }

  table.grid-all > tbody > tr:last-child > .tableblock,
  table.grid-all > thead:last-child > tr > .tableblock,
  table.grid-rows > tbody > tr:last-child > .tableblock,
  table.grid-rows > thead:last-child > tr > .tableblock {
    border-bottom-width: 0;
  }

  table.frame-all {
    border-width: $table-border-size;
  }

  table.frame-sides {
    border-width: 0 $table-border-size;
  }

  table.frame-topbot,
  table.frame-ends {
    border-width: $table-border-size 0;
  }

  table.stripes-all tr,
  table.stripes-odd tr:nth-of-type(odd),
  table.stripes-even tr:nth-of-type(even),
  table.stripes-hover tr:hover {
    background: $table-even-row-bg;
  }

  // NOTE removing default stripes using script instead
  //table.stripes-none tr,
  //table.stripes-odd tr:nth-of-type(even),
  //table.stripes-even tr:nth-of-type(odd) {
  //  background: none;
  //}

  @each $halign in (left, right, center) {
    th.halign-#{$halign},
    td.halign-#{$halign} {
      text-align: $halign;
    }
  }

  @each $valign in (top, bottom, middle) {
    th.valign-#{$valign},
    td.valign-#{$valign} {
      vertical-align: $valign;
    }
  }

  table thead th,
  table tfoot th {
    font-weight: $table-head-font-weight;
  }

  // vertical table header (block)
  tbody tr th {
    display: $table-display;
    line-height: $table-line-height;
    background: $table-head-bg;
  }

  // vertical table header (content)
  tbody tr th,
  tfoot tr th {
    &,
    p {
      color: $table-head-font-color;
      font-weight: $table-head-font-weight;
    }
  }

  p.tableblock > code:only-child {
    background: none;
    padding: 0;
  }

  p.tableblock {
    font-size: 1em;
  }
}
