$breakpoints: (
  s: 576px,
  m: 768px,
  l: 992px,
  xl: 1280px
) !default;

@mixin media-break($value: m) {
  $key: m;
  @if map-has-key($breakpoints, $value) {
    $key: $value;
  }
  @media only screen and (min-width: #{map-get($breakpoints, $key)}) {
    @content;
  }
}
