@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

// Fonts
$default-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Open Sans', sans-serif;
$mono-font-family: 'Roboto Mono', monospace;
